* {
  padding: 0;
  margin: 0;
  border: 0;
}
#div_container {
  display: flex;
  justify-content: center;
}
#loan_info_wrap {
  border-left: 2px solid black;
}
#info_wrap {
  width: 1500px;
  height: 700px;
  padding: 50px;
  background-color: white;
  display: flex;
}
#member_info {
  width: 600px;
  height: 650px;
}
#loan_info {
  width: 900px;
  height: 650px;
}
.info_item {
  width: 650px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.info_item p {
  font-size: 25px;
  font-family: "NanumSquareNeoHeavy";
  margin-left: 20px;
}
#strong_none {
  font-family: "NanumSquareNeoHeavy";
  font-size: 30px;
}
.top {
  display: flex;
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 2px solid green;
}
.li-item {
  display: flex;
  height: 79px;
  border-bottom: 1px solid #ddd;
}
.member_id {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.b_num {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.b_title {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.s_date {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.e_date {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.b_amount {
  margin-left: 5%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
